h1 {
    color: #58acfa;
}
i {
    color: red;
}
a:hover {
    color: cyan;
}
table {
    border:2px solid grey;
}
.sigle {
    font-size: 5em;
    color: brown;
}
th {
    font-style: oblique;
    border: solid pink 2px;
}
video {
    height: 360;
    width: auto;
}